.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Выравнивание содержимого по вертикали */
    min-height: 350px; /* Минимальная высота карточки */
    margin-bottom: 20px; /* Отступ между карточками */
}

.card-img {
    height: 200px; /* Фиксированная высота для изображений */
    object-fit: cover; /* Обеспечивает сохранение пропорций изображения */
}

.card-body {
    flex-grow: 1; /* Позволяет телу карточки занимать оставшееся пространство */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование текста */
    align-items: center; /* Центрирование текста по горизонтали */
    overflow: hidden; /* Скрывает переполнение */
}

.card-title {
    text-align: center; /* Центрирование текста заголовка */
    margin-top: 10px; /* Отступ сверху для заголовка */
    white-space: normal; /* Позволяет тексту переноситься */
    overflow: hidden; /* Скрывает переполнение */
    text-overflow: ellipsis; /* Добавляет многоточие, если текст слишком длинный */
}
